# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
.pytest_cache/
.build/
dist/
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Secrets
.env

# Node
node_modules/

# Project outputs
*.wav
*.mp3
*.mp4
*.json
*.txt
!requirements.txt
*.srt
*.log
*.tmp
*.temp

# Build artifacts
out/
release/
*.exe
*.dmg
*.AppImage
